<!DOCTYPE html>
<html ng-app="MyApp">

<head>
    <meta charset="UTF-8">
    <title>angularjs Hello</title>
    <!-- <link rel="stylesheet" type="text/css" href="bootstrap-combined.min.css"> -->
    <script src="angular.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js"></script> -->
    <script src="app.js">
    </script>
    <style type="text/css">
    .odd {
        background-color: grey;
    }
    
    .even {
        background-color: white;
    }

      input.ng-invalid { border: 1px solid red; } input.ng-valid { border: 1px solid green; }
      
    </style>
</head>

<body>
    <input ng-model="baiduUrl" type="text" placeholder="Your name:" />
    <!-- <h2>Hello {{ person.name | limitTo:3 }}</h2>	 -->
    <h2>Hello {{ baiduUrl | lowercase | capitalize }}</h2>
    <div ng-controller="MyController">
        <h5>{{ clock.now }}</h5>
        <button ng-click="add(1)">提交</button>
        <h4>Current count: {{ counter }}</h4>
    </div>
    <div my-directive custom-url="baiduUrl" my-link-text="takemetobaidu"></div>
    <!-- 双向绑定 -->
    <br>
    <!--ng内置指令-->
    <input type="text" ng-model="someProperty" placeholder="TypetoEnable">
    <button ng-model="button" ng-disabled="!someProperty">AButton</button>
    <button ng-model="button" ng-disabled="isDisabled">waiting...({{ countDown }})</button>
    <br>
    <br>
    <br>
    <label>someProperty = {{someProperty}}</label>
    <input type="checkbox" ng-checked="someProperty" ng-init="someProperty = null" ng-model="someProperty" />
    <br>
    <br>
    <br>
    <label>Select Two Fish:</label>
    <input type="checkbox" ng-model="isTwoFish">
    <br/>
    <select>
        <option>One Fish</option>
        <option ng-selected="isTwoFish">Two Fish</option>
    </select>
    <br>
    <br>
    <br>
    <a ng-href="{{ myHref }}">i feel so lucky!</a>
    <a href="{{ myHref }}">i feel so sorry!</a>
    <br>
    <br>
    <br>
    <div style="float:left">
        <p style="float:left">WrongWay</p>
        <img src="{{imgSrc}}" width="120" height="60" />
    </div>
    <div style="float:left">
        <p style="float:left">Rightway</p>
        <img ng-src="{{imgSrc}}" width="120" height="60" />
    </div>
    <br>
    <br>
    <br>
    <ul ng-controller="PeopleController">
        <li ng-repeat="person in people" ng-class="{even: !$even, odd: !$odd}">
            {{person.name}} lives in {{person.city}}
        </li>
    </ul>
    <br>
    <br>
    <br>
   <form name="signup_form" novalidate ng-submit="signupForm()" ng-controller="signupController">
  <fieldset>
    <legend>Signup</legend>
    <div class="row">
      <div>
        <label>Your name</label>
        <input type="text" 
            placeholder="Name" 
            name="name" 
            ng-model="signup.name" 
            ng-minlength=3 
            ng-maxlength=20 required />
       <div class="error" 
            ng-show="signup_form.name.$invalid && submitted">
        <small class="error" 
            ng-show="signup_form.name.$error.required">
            Your name is required.
        </small>
        <small class="error" 
                ng-show="signup_form.name.$error.minlength">
                Your name is required to be at least 3 characters
        </small>
        <small class="error" 
                ng-show="signup_form.name.$error.maxlength">
                Your name cannot be longer than 20 characters
        </small>
      </div>
      </div>
    </div>
    <button type="submit" class="button radius">Submit</button>
  </fieldset>
</form>
 
</body>

</html>
